.fa-2x{
    font-size: 1.5em;
    width: 21px;
    text-align: center;
    margin-right: 1em;
}

.messageButton{
    box-shadow: none;
    background: #383838;
    color: white;
    text-shadow: none;
    border-style: none;
    margin-top: 1em;
}
.infoContainer{
    background-color: #E0E0E0;
    padding: 1em;
    border-radius: 10px;
}



#editUserInfo{
    visibility: hidden;
    float: right;
    margin-top: -4em;
    color: gray;
}

.experienceContainer{
    margin: 4em 0;
    padding: 1em;
    background-color: #E0E0E0;
    border-radius: 10px;
}



.m-top-bottom-2{
    margin: 2em 0;
}

.experienceContainerIcon{
    margin-top: -4em;

}

.p-left-1{
    padding-left: 1em;
}


.alert-warning{
    background: #FFC107;
    color: dimgray;
    width: 50%;
    text-align: center;
    border-radius: 20px;
}



.monster {
    background: url(../../images/workspace.svg);
    background-size: 70%;
    height: 19em;
    margin-left: 7em;
    margin-right: 7em;
    border-radius: 10%;
    background-size: cover;
    background-repeat: no-repeat;
}

.alert-center{
    margin-left: 25%;
    margin-right: 25%
}

/* COLORPICKER 1 EXAMPLE */
#colorPicker
{
    width:          30px;
    height:         30px;
    position: relative;
    clear: both;
    margin: 80px auto 20px;
}

#colorPicker .track {
    background:     url('../../images/text-color.png') no-repeat 50% 50%;
    height:         150px;
    width:          150px;
    position:       absolute;
    cursor:         crosshair;
    float:          left;
    left:           -65px;
    top:            -65px;
    display:        none;
    border:         1px solid #ccc;
    z-index:        10;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;

}

#colorPicker .color {
    width:          25px;
    height:         25px;
    display:        block;
    position:       relative;
    z-index:        11;
    background-color: #EFEFEF;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    cursor: pointer;
}

#colorPicker .colorInner {
    width:          25px;
    height:         25px;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
}

#colorPicker .dropdown {
    list-style: none;
    display: none;
    width: 27px;
    position: absolute;
    top: 28px;
    border: 1px solid #ccc;
    left: 0;
    z-index: 1000;
}

#colorPicker .dropdown li{
    height: 25px;
    cursor: pointer;
}