body {
	font-family: 'Roboto', sans-serif;
}

.left {
	height: auto;
}

img {
	margin-top: 50px;
	border-radius: 50%;
}

.blue {
	height: 40px;
	background-color: #80c4ce;
	padding-top: 4px;
}

.skils  {
	border: 1px solid black;
}

.bor {
	color: white;
}

li {
	margin-top: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-dribbble {
    background: #ea4c89;
    color: white;
}

a:link {
	text-decoration: none;
}

.des {
	background-color: #80c4ce;
	height: auto;
}

.des h1 {
	background-color: white;
	margin-left: 50px;
	margin-right: 50px;
}

.des p, h4 {
	margin-left: 50px;
	margin-right: 50px;
}
