body{
	background: #EB5D5C;
	color: #73746b;
}



.container{
	width: 35%;
	margin-top: 8%;
	text-align: center;
}


input{
	display: block;
	width: 100%;
	padding: 16px 0px;
	text-indent: 15px;
	border-radius: 4px;
	border: none;
	margin-top: 4%;
	outline: none;
}


h2{
	color: #fff;
	margin-bottom: 12%;
}


button{
	width: 47%;
	margin-top: 10%;
	padding: 10px;
	border-radius: 4px;
	border: none;
	outline: none;
	background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #eb5d5c;
}



button:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


button:active{
	position: relative;
	bottom: 2px;
}


h4{
	margin-top: 10%;
	color: #fff;
	display: inline;
}


span{
   font-size: 1.3em;
   padding-left: 7px;
}


h2, h4, input, button, a{
	font-family: 'Ubuntu', sans-serif;
}


.second{
	margin-top: 10%;
}


.hidden{
	/*display: none;*/
}





@media (min-width:320px) {
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

    .container{
	width: 80%;
	}


	h2{
	font-size: 1.7em;
	margin-bottom: 30%;
	}

	.second, .login{
	font-size: 0.8em;
	}





}




    
@media (min-width:480px) {
        /* smartphones, Android phones, landscape iPhone 5 */

 	h2{
 		font-size: 2.2em;
 	}

        
}

    
@media (min-width:600px) {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle) */
    

	 h2{
	 		font-size: 2.8em;
	 }

}
    


@media only screen and (min-width:600px) and (orientation: landscape) {
        /*  landscape phones */
        
    .container{
	width: 60%;
	}


	h2{
	font-size: 2.5em;
	margin-bottom: 20%;
	}
 

}


    
@media (min-width:801px) {
        /* tablet, landscape iPad, lo-res laptops ands desktops */




}





@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

        /* iPad pro portrait*/

    .container{
   	margin-top: 20%; 
	width: 60%;
	}


	h2{
	font-size: 4.5em;
	margin-bottom: 50%;
	}
  

}


    
@media (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */

    .container{
   	margin-top: 8%; 
	width: 50%;
	}


	h2{
	font-size: 3em;
	margin-bottom: 15%;
	}

 }



    
@media (min-width:1281px) {
        /* hi-res laptops and desktops */

    .container{
   	margin-top: 3%; 
	width: 30%;
	}


	h2{
	font-size: 2.7em;
	margin-bottom: 15%;
	}



} 
     