* {

 font-family: 'Ubuntu', sans-serif;
}


.d-flex-center{
    display: flex;

    justify-content: center;
    align-items: center;
}

.d-flex-start{
    display: flex;
    align-items: flex-start;
}

.justify-flex-start{
    justify-content: flex-start;
}

.flex-direction-column{
    flex-direction: column;
}



.flex-justify-content-flex-end{
    justify-content: flex-end;
}

.flex-justify-content-space-around{
    justify-content: space-around;

}

.p-0{
    padding: 0;
}

.p-2{
    padding: 2em 0  ;
}

.p-1{
    padding: 0.5em 0;
}

.bg-white{
    background-color: white;
}

.d-inline-block{
    display: inline-block;
}

.text-white{
    color: white;
}
.text-black{
    color: black;
}

.yellow-background-color{
    background-color: #F5CE57;
}
    